@charset "UTF-8";


/*
.octicon-git-branch-create:before{content:'\f098'}
*/

body{
min-height:1800px;
background-size:100% 2000px;
background-repeat:no-repeat;
font-family:arial,helvetica;
background:#444400;
background: linear-gradient(#222222, #efefef, white, white, white, white); /* Standard syntax */

}

.token, .logout .user{
	margin:.2em 2em .2em .2em;
	padding:.2em 2em .2em .2em;
	border:0px solid grey;
	color:white;
	opacity:0.005;
	font-size:6px;	
}
.logout .user{
	opacity:1.0;
	color:grey;
	font-size:10px;
}

.apitest{background:blue;color:white;cursor:pointer;margin:1em 1em 1em 1em;padding:1em 1em 1em 1em;display:none;}

.logout{text-align:right;}

.construction{
color:red;
border:0px solid red;
font-size:16px;
background:#ffeeee;
margin:1em 1em 1em 1em;
padding:1em 1em 1em 1em;
-webkit-border-radius:.45em;
-moz-border-radius:.45em;
-ms-border-radius:.45em;
-o-border-radius:.45em;
border-radius:.45em;
}
.listFoldersResult table, .listFoldersResult td{
border:01px solid silver;
margin: .25em .25em .25em .25em;
padding: .25em .25em .25em .25em;
}
.listFoldersResult table
{
  background:#def;
}
.f1div{
background:#1111ff;
color:white;
cursor:pointer;
margin:1em 1em 1em 1em;
padding:1em 1em 1em 1em;
-webkit-border-radius:.45em;
-moz-border-radius:.45em;
-ms-border-radius:.45em;
-o-border-radius:.45em;
border-radius:.45em;
}
.f1div *, button {
-webkit-border-radius:1.65em;
-moz-border-radius:1.65em;
-ms-border-radius:1.65em;
-o-border-radius:1.65em;
border-radius:1.65em;
padding:.5em .5em .5em .5em;
margin:.5em .5em .5em .5em;
}

.f1div * {
color:white;
border: 0px solid silver;
}

.f1div > * { background: #7777ff; }
.f1div > * > * { background: #9999ff; }
.f1div > * > * > * { background: #7777ff; }
.f1div > * > * > * > * { background: #5555ff; }
.f1div > * > * > * > * > * { background: #3333ff; }

.forkme a,.forkme a:visited, .forkme a:active, .forkme a:hover{
    color: blue;
    font-family: courier new;
    text-decoration:none;
    font-size:1.25em;
}
/*
.forkme a::before {
content: '';
font-family:octicons;  
font-weight: -500;
opacity:0.5;    
}
*/
.forkme{
    transition all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
background: -webkit-linear-gradient(grey,silver,silver,grey);
background: -ms-linear-gradient(grey,silver,silver,grey);
background: -moz-linear-gradient(grey,silver,silver,grey);
background: -o-linear-gradient(grey,silver,silver,grey);
background: linear-gradient(grey,silver,silver,grey);
}
.forkme:hover{
    box-shadow: 0px 0px 20px 2px rgba(140,150,255,200);
    
}
.forkme  > a  > span:first-of-type{
	opacity:50% !important;
	color:#555 !important;
	font-family: octicons !important;
	padding-right:.25em;
}
/*
.forkme > a > span:before{content:'\f098'}
*/
.forkme{
    padding:.25em 5em .25em 5em;
    z-index:22;
    left:-4em;
    top:0em;
    box-shadow: 0px 0px 10px 1px rgba(140,150,255,200);
    display:absolute;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    opacity:0.8;
    

position: fixed;
padding: .25em 5em .25em 5em;
z-index: 22;
left: -6em;
top: 5em;
box-shadow: 0px 0px 10px 1px rgba(140,150,255,200);
display: absolute;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
opacity: 0.77;
}
.forkme {
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
background: -webkit-linear-gradient(grey,silver,silver,grey);
background: -ms-linear-gradient(grey,silver,silver,grey);
background: -moz-linear-gradient(grey,silver,silver,grey);
background: -o-linear-gradient(grey,silver,silver,grey);
background: linear-gradient(grey,silver,silver,grey);
}


