@charset "UTF-8";


/*
.octicon-git-branch-create:before{content:'\f098'}
*/

.allFolderElements > *:before{
	content:url('http://ljv5555.github.io/drive-folder-search/app/images/drive-folder-search-icon-16.png');
	margin:5px 5px 5px 5px;
}

body{
min-height:1800px;
background-size:100% 2000px;
background-repeat:no-repeat;
font-family:arial,helvetica;
background:#444400;
background: linear-gradient(#222222, #efefef, white, white, white, white); /* Standard syntax */

}

.token, .logout .user{
	margin:.2em 2em .2em .2em;
	padding:.2em 2em .2em .2em;
	border:0px solid grey;
	color:white;
	opacity:0.005;
	font-size:6px;	
}
.logout .user{
	opacity:1.0;
	color:grey;
	font-size:10px;
}

.apitest{background:blue;color:white;cursor:pointer;margin:1em 1em 1em 1em;padding:1em 1em 1em 1em;display:none;}

.logout{text-align:right;}

.construction{
color:red;
border:0px solid red;
font-size:16px;
background:#ffeeee;
margin:1em 1em 1em 1em;
padding:1em 1em 1em 1em;
-webkit-border-radius:.45em;
-moz-border-radius:.45em;
-ms-border-radius:.45em;
-o-border-radius:.45em;
border-radius:.45em;
}
.listFoldersResult table, .listFoldersResult td{
border:01px solid silver;
margin: .25em .25em .25em .25em;
padding: .25em .25em .25em .25em;
}
.listFoldersResult table
{
  background:#def;
}
.f1div{
background:#1111ff;
color:white;
cursor:pointer;
margin:1em 1em 1em 1em;
padding:1em 1em 1em 1em;
-webkit-border-radius:.45em;
-moz-border-radius:.45em;
-ms-border-radius:.45em;
-o-border-radius:.45em;
border-radius:.45em;
}
.f1div *, button {
-webkit-border-radius:1.65em;
-moz-border-radius:1.65em;
-ms-border-radius:1.65em;
-o-border-radius:1.65em;
border-radius:1.65em;
padding:.5em .5em .5em .5em;
margin:.5em .5em .5em .5em;
}

.f1div * {
color:white;
border: 0px solid silver;
}

.f1div * {background: rgba(200,220,250,220);}
.f1div > * { background: #7070ff; }
.f1div > * > * { background: #6060ff; }
.f1div > * > * > * { background: #5050ff; }
.f1div > * > * > * > * { background: #4040ff; }
.f1div > * > * > * > * div { 
	background: #3030ff; 
	border:1px solid silver;
	color:white;
	display:table;
	padding-left:5px;
	padding-right:5px !important;
}
/*
.f1div > * > * > * > * > * { background: #3030ff; }
.f1div > * > * > * > * > * > * { background: #5050ff; }
.f1div > * > * > * > * > * > * > * { background: #3838ff; }
.f1div > * > * > * > * > * > * > * > * { background: #5858ff; }
.f1div > * > * > * > * > * > * > * > * > * { background: #4040ff; }
.f1div > * > * > * > * > * > * > * > * > * > * { background: #7070ff; }
.f1div > * > * > * > * > * > * > * > * > * > * > * { background: #4848ff; }
.f1div > * > * > * > * > * > * > * > * > * > * > * > * { background: #7878ff; }
*/

.forkme a,.forkme a:visited, .forkme a:active, .forkme a:hover{
    color: blue;
    font-family: courier new;
    text-decoration:none;
    font-size:1.25em;
}
/*
.forkme a::before {
content: '';
font-family:octicons;  
font-weight: -500;
opacity:0.5;    
}
*/
.forkme{
    transition all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
background: -webkit-linear-gradient(grey,silver,silver,grey);
background: -ms-linear-gradient(grey,silver,silver,grey);
background: -moz-linear-gradient(grey,silver,silver,grey);
background: -o-linear-gradient(grey,silver,silver,grey);
background: linear-gradient(grey,silver,silver,grey);
}
.forkme:hover{
    box-shadow: 0px 0px 30px 3px rgba(140,150,255,200);
    
}
.forkme  > a  > span:first-of-type{
	opacity:.65 !important;
	color:#555 !important;
	font-family: octicons !important;
	padding-right:.25em;
}
/*
.forkme > a > span:before{content:'\f098'}
*/
.forkme{
    padding:.25em 5em .25em 5em;
    z-index:22;
    left:-4em;
    top:0em;
    box-shadow: 0px 0px 10px 1px rgba(140,150,255,200);
    display:absolute;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    opacity:0.8;
    

position: fixed;
padding: .25em 5em .25em 5em;
z-index: 22;
left: -6em;
top: 5em;
box-shadow: 0px 0px 10px 1px rgba(140,150,255,200);
display: absolute;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
opacity: 0.77;
}
.forkme {
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
background: -webkit-linear-gradient(grey,silver,silver,grey);
background: -ms-linear-gradient(grey,silver,silver,grey);
background: -moz-linear-gradient(grey,silver,silver,grey);
background: -o-linear-gradient(grey,silver,silver,grey);
background: linear-gradient(grey,silver,silver,grey);
}

.update, .update a,.update a:visited, .update a:active, .update a:hover{
    color: #eee;
    text-decoration:none;
    font-size:0.75em;
}

#plusone, #plusone * {
height: 50px;
padding-top: 15px;
}
